<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees list</title>
</head>
<body>
<h1>Employees List</h1> <br><br>

<table >
    <thead>
        <tr>ID</tr>
        <tr>Name</tr>
        <tr>Surname</tr>
        <tr>GMail</tr>
    </thead>
    <tbody>
        <tr th:each="employee: ${myEmployees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.email}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>